# API Port
PORT=3000

# MongoDB Connection Options:

# OPCIÓN A: Usar MongoDB Atlas (Cloud)
# 1. Ve a: https://www.mongodb.com/cloud/atlas
# 2. Crea un cluster y una base de datos
# 3. En Network Access: agrega tu IP actual (0.0.0.0/0 para desarrollo local)
# 4. Copia la URI de conexión y pega aquí
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre_db?appName=Cluster0


# OPCIÓN B: Usar MongoDB Local
# 1. Instala MongoDB Community Server
# 2. Asegúrate que mongod esté ejecutándose en el puerto 27017
# 3. Descomenta la siguiente línea:
# MONGODB_URI=mongodb://127.0.0.1:27017/codetrix_db
